@import 'tailwindcss';

:root {
  --left-panel-width: 320px;
  --right-panel-width: 384px;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}
